<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Flask File Upload Example</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h2>Select a file to upload</h2>
    <p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </p>
    {% if filename %}
        <div>
            <img src="{{ url_for('display_image', filename=filename) }}" alt="Uploaded Image">
        </div>
        <h3>Treatment Recommendation:</h3>
        <p class="treatment-container">{{ treatment }}</p>
    {% endif %}
    <form method="post" action="/" enctype="multipart/form-data">
        <div class="input-file">
            <label for="file" class="button">Choose File</label>
            <input type="file" name="file" id="file" autocomplete="off" required>
        </div>
        <div>
            <img id="preview" src="#" alt="Image Preview" style="display:none; max-width:100%; height:auto; margin-top:20px;">
        </div>
        <p>
            <input type="submit" class="button" value="Submit">
        </p>
    </form>

    <script>
        document.getElementById('file').onchange = function (event) {
            var reader = new FileReader();
            reader.onload = function(){
                var preview = document.getElementById('preview');
                preview.src = reader.result;
                preview.style.display = 'block';
            };
            reader.readAsDataURL(event.target.files[0]);
        };
    </script>
</body>
</html>
